html, body {
  height: 100%;
  width: 100%;
  overflow: hidden;
}

body {
  margin: 0;
  font-family: 'Helvetica Neue';
  font-size: 64px;
  position: relative;
  color: #333;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  cursor: pointer;
}

.increment {
  width: 100%;
  height: 120px;
  font-size: 32px;
  position: fixed;
  bottom: 0;
  left: 0;
}

.reset {
  width: 100%;
  height: 60px;
  font-size: 32px;
  position: fixed;
  top: 0;
  left: 0;
  background: #333;
  color: white;
  border: none;
  cursor: pointer;
}

.reps {
  height: 100%;
  width: 100%;
}

.reps p {
  font-size: 32px;
  text-align: center;
  margin: 0;
  position: absolute;
  bottom: 1em;
  width: 100%;
}

h1 {
  margin: 0 auto;
  position: absolute;
  top: 45%;
  -webkit-transform: translate3d(0, -50%, 0);
  transform: translate3d(0, -50%, 0);
  width: 100%;
  text-align: center;
  font-weight: 300;
}
